/* your beautiful css styling goes here! */
/*text {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}*/


/* binary tree */
/*
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 840px;
  margin: 0 auto 50px auto;
  font-size: 14px;
}

svg {
  width: 840px;
  height: 600px;
  font-family: helvetica, sans-serif;
}

path, line {
  stroke: #777;
}

div.bar {
        display: inline-block;
        width: 20px;
        height: 75px;
        background-color: teal;
        margin-right: 2px;
      }*/




